#field {
  margin: 0 auto;
}

td {
  /*width: 30px;
  height: 30px;*/
  background-color: red;
  position: relative;
  cursor: pointer;
  border: 1px solid yellow;
}

td:hover:after{
  content:'Видалити панель';
  position: absolute;
  left: 100%;
  top: -1em;
  z-index: 2;
  background: #fff;
  border: 1px solid red;
  color: red;
  width: max-content;
  padding: 3px;
}

td.empty:hover:after{
  content:'Вставити';
  position: absolute;
  left: 100%;
 top: -1em;
  z-index: 2;
  background: #fff;
  border: 1px solid red;
  color: green;
  width: max-content;
  padding: 3px;
}
 
.empty {
  background-color: white;
}

p{
    font-family: 'Comic Sans MS';
    font-size: 18px;
}
#results{
    font-family: 'Comic Sans MS';
    font-size: 18px;
}

#build{
    background-color: red;
    border: 1px solid red;
    border-radius: 15px;
    margin-left: 20px;
    color: white;
}
#build:hover{
    transition: all 1.5s;
    background-color: brown;
    border: 1px solid brown;
}